body
    h1 Get Course
    p Course Name: #{course}
    p Professor Name: #{professor}



    h1 Post A Student
    p The student's name is: #{studentname}
    p The student's grade is: #{studentgrade}
